# Виртуальное окружение
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Репозиторий PlayerokAPI
PlayerokAPIgit/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Конфигурационные файлы (исключая примеры)
config.yaml
config_closed.yaml
config_active.yaml
# config.example.yaml ВКЛЮЧИТЬ в репозиторий

# Логи
*.log
logs/

# ОС
.DS_Store
Thumbs.db
!*.example.yaml
